/*CARRUSEL EN FANART*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: -1;
}

.carousel-indicators {
    z-index: 1;
}

/*FORMULARIO ENVIA DE FANART*/

.registrate container, input {

    @media (max-width: 767px) {
        font-size: 50%; 
    }
}