body {
    background-color: #000d1a;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: 550px;

    @media (max-width: 1024px) {
        min-height: 1210px; 
    }

    @media (max-width: 767px) {
        min-height: 950px; 
    }
}

.articleNovedades {
    color: #f2f2f2;
    margin: 10px 30px 20px 30px;
    padding: 0px 20px 10px 20px;
	font-family: 'Arvo', serif;
    display: flex;
    flex-direction: row;
}

.promocion {
    font-weight: bold;
	font-size: 2em;
	color: #fc8618;

    @media (max-width: 767px) {
        font-size: 1em;
    }
}

.evento {
    font-size: 1.2em;
    text-align: left;
    font-family: 'Arvo', serif;
    padding-left: 20px;
    padding-top: 20px;

    @media (max-width: 1024px) {
        font-size: 1.7em;
    }

    @media (max-width: 767px) {
        font-size: 1em;
    }
}

/*PARTICULAS*/

#particles-js {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}