/*GRID DE INDEX*/

#home {
    display: grid;
    grid-template-areas: "portada portada portada"
    "eventos novedades novedades"
    "eventos sagas sagas";
    grid-template-columns: 20% auto 15%;
    grid-column-gap: 1px;
    grid-row-gap: 50px;
    justify-items: stretch;
    align-items: stretch;
    }

#portada  {
    grid-area: portada;
}

#eventos {
    width: 400px;
}

#novedades {
    width: 850px;
    justify-content: right;
    justify-self: right;
}
    
section#eventos {
    grid-area: eventos;
}
    
section#novedades {
    grid-area: novedades;
}

section#sagas {
    grid-area: sagas;
}

/*GRID DE REDES SOCIALES*/

#redes {
    display: grid;
    grid-template-areas: "icfacebook icinstagram icyoutube"
    "facebook instagram youtube"
    "facebook instagram youtube";
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    grid-row-gap: 50px;
    justify-content: start;
    align-content: center;
    }

section#icyoutube {
    grid-area: icyoutube;
}

section#youtube {
    grid-area: youtube;
}

section#icinstagram {
    grid-area: icinstagram;
}

section#instagram {
    grid-area: instagram;
}

section#icyoutube {
    grid-area: icyoutube;
}

section#youtube {
    grid-area: youtube;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin: 0 30% 0 30%;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
        &:hover {
            background: white;
            color: #3B5998;
            text-decoration: none;
        }
  }

  .fa-instagram {
    background: #125688;
    color: white;
        &:hover {
            background: white;
            color: #125688;
            text-decoration: none;
        }
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
        &:hover {
            background: white;
            color: #bb0000;
            text-decoration: none;
        }
  }