.Pindex {
    background-image: url("../img/Home.jpg");
}

.border {
    border: 1px;
    background: transparent;
}

.article img {
    padding: 0px 10px 0 20px;
    
}

/*SECTOR DE "TODAS SUS OBRAS"*/

.flex  {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding: 0px 20px 60px  20px; 
}

.flexlibros {
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin-inline: 50px;
        img {
            width: 12vw;
            height: 40vh;
        }
}

div > img {
    margin-right: 5px;
}