/*TODOS LOS PÁRRAFOS*/

.parrafo {
    color: #f2f2f2;
    font-size: 1.1em;
 	margin-bottom: 10px;
	text-align: left;
    line-height: 28px;

    @media (max-width: 1024px) {
        font-size: 2em;
        margin: 10px;
        line-height: 50px;
    }

    @media (max-width: 767px) {
        font-size: 1.5em;
        margin: 10px;
    }

    @media (max-width: 479px) {
        font-size: 1.2em;
        line-height : 28px;
        margin: 1px;
        color: white;
        text-align: center; 
    }
}