/*SECTOR "REGISTRATE"*/

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
      
.registrate	{
    font-family: 'Arvo', serif;
    color: #f2f2f2;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    align-items: flex-start;

    @media (max-width: 1024px) {
        width: 90%;
        font-size: 2em;
    }

    @media (max-width: 767px) {
        background-image: none; 
        width: 100%;
        padding: auto;
        font-size: 1.5em;
    }

    @media (max-width: 479px) {
        width: 70%;
    }
}

input {
	font-family: 'Cinzel', serif;
	background-color: #000d1a;
	color: #f2f2f2;
    width: 70%;

    @media (max-width: 1024px) {
        width: 90%;
    }
}

label {
    @media (max-width: 767px) {
        font-size: 0.8em;
    }
}

/*REGISTRATE Y FORMULARIO*/

.inputBotones {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;

    @media (max-width: 1024px) {
        width: 100%;
        font-size: 1em;
    }

    @media (max-width: 767px) {
        font-size: 1.2em;
    }

    @media (max-width: 479px) {
        font-size: 1.4em;
    }
}

select, option	{
	font-family: 'Arvo', serif;
	background-color: #000d1a;
	color: #f2f2f2;
    width: 70%;
    font-size: 1em;

    @media (max-width:1024px) {
        width: 100%;
        font-size: 1em;
    }

    @media (max-width: 767px) {
        font-size: 0.8em;
    }
}


.sagafav {

    @media (max-width: 767px) {
        font-size: 1em;
    }

    @media (max-width: 479px) {
        font-size: 0.8em;
        padding: 30px;
    }
}


.form-group {
    width: 100%;

    @media (max-width:1024px) {
        font-size: 1em;
    }
}