

.tituloLibros {
    font-size: 3em;
}

.compraButton {
	display: block;
	background-color: #DC5B22;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
	padding: 10px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
        a {
            color: #f2f2f2;
        }

    @media (max-width: 1024px) {
        font-size: 2em;
        width: 200px;
        height: 100px;
    }

    @media (max-width: 767px) {
        font-size: 1.4em;
        width: 130px;
    }    

    @media (max-width: 479px) {
        font-size: 1.2em;
    }
}


.compraButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
                &:hover {
                    opacity: 1;
                    right: 0; 
                }
        }
        &:hover {
            padding-right: 25px;
        }
}